.summoner-screen-container {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	box-sizing: border-box;
}

.content {
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: row;
	gap: 15px;
	box-sizing: border-box;
}

.left-side {
	width: 30%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 0 0 0;
	height: auto;
}

.right-side {
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 20px 0;
}

@media (max-width: 768px) {
	.content {
		flex-direction: column;
		padding: 10px;
	}

	.left-side {
		width: 100%;
	}
}
