.match-skeleton__stats-override {
  margin-left: 8px;
}

.match-skeleton__kda-placeholder {
  width: 120px;
  height: 20px;
}

.match-skeleton__cs-time-placeholder {
  width: 80px;
  height: 15px;
  margin: 8px 0 0 0;
}

.match-skeleton__match-details-placeholder {
  width: 100px;
  height: 15px;
}

.match-skeleton__result-placeholder {
  width: 60px;
  height: 15px;
}

.match-skeleton__ago-placeholder {
  width: 80px;
  height: 15px;
}

.center-icon {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

.match-skeleton__vision-score-placeholder {
  width: 80px;
  height: 15px;
}

.match-skeleton__kill-participation-placeholder {
  width: 60px;
  height: 15px;
}

.match-skeleton__multikill-badge-placeholder {
  width: 70px;
  height: 20px;
}