.top-bar {
	width: 100%;
	background-color: $accent;
	color: white;
	padding: 10px;
	border-radius: 15px;
	height: 60px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	.logo-button {
		position: absolute;
		left: 20px;
		width: auto;
		background: none;
		height: 100%;
		padding: 10px 0 10px 0;
		border: none;
	}
}
