.splashBckg {
  background-color: #18162a !important;
}

.mastery-skeleton__level-placeholder {
  width: 100px;
  height: 20px;
}

.mastery-skeleton__points-placeholder {
  width: 80px;
  height: 15px;
}