$primary: #1c1c1c;
$accent: #8a7ebf;
$secondary-blue: #00bfff;
$background-dark: #2c2c2c;
$background-dark-2: #1f1f1f;
$background-dark-3: #464646;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.2);

//a57ac1
//e397d5
//fdb5da
//8683ca

$win: #a8e6a3;
$lose: #e57373;

// Needs to be in :root due to inline styling on border in extended match participant
:root {
  --team100-border: rgb(3, 151, 171);
  --team100-background: rgb(3, 151, 171, 0.2);
  --team200-border: rgb(192, 79, 79);
  --team200-background: rgb(192, 79, 79, 0.2);
}