$primary: #1c1c1c;
$accent: #8a7ebf;
$secondary-blue: #00bfff;
$background-dark: #2c2c2c;
$background-dark-2: #1f1f1f;
$background-dark-3: #464646;
$white: #ffffff;
$shadow: rgba(0, 0, 0, 0.2);

//a57ac1
//e397d5
//fdb5da
//8683ca
