.search-bar {
	position: relative;
	width: 100%;
	max-width: 300px;
	display: flex;
	align-items: center;
	border-radius: 25px;
	padding: 5px 10px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	input {
		flex: 1;
		border: none;
		outline: none;
		font-size: 16px;
		padding: 5px;
		border-radius: 25px;
		background-color: inherit;
		color: black;
	}

	.search-icon {
		margin-left: 10px;
		font-size: 18px;
		color: gray;
		cursor: pointer;
		user-select: none;
	}
}

.suggestions-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-top: 5px;
	list-style: none;
	padding: 0;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 2000;

	li {
		padding: 10px;
		cursor: pointer;
		color: black;

		&:hover {
			background-color: #f0f0f0;
		}
	}
}
